# Installation de Spark

In [ ]:
# Install Spark
!wget -nc -q https://raw.githubusercontent.com/bamedro/training-bigdata/main/4-spark/setup-spark-on-ubuntu.sh
!chmod u+x setup-spark-on-ubuntu.sh
!./setup-spark-on-ubuntu.sh

In [2]:
# Définition des variables d'environnement (adapter si besoin)
!ls /usr/lib/jvm /content
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-17-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

/content:
sample_data		  spark-3.5.0-bin-hadoop3
setup-spark-on-ubuntu.sh  spark-3.5.0-bin-hadoop3.tgz

/usr/lib/jvm:
java-1.11.0-openjdk-amd64  java-11-openjdk-amd64
java-1.17.0-openjdk-amd64  java-17-openjdk-amd64

# Créer un SparkContext
**Travail à faire:**

Construire un SparkContext en local appelé "TPWordcount"

In [4]:
# Importer les modules pyspark requis
from pyspark import ...

# Définir un SparkConf
conf = ...

# Créer le SparkContext
sc = ...

In [ ]:
# Vérification que le Spark Context est fonctionnel
sc

# Importation des données

In [17]:
!wget -nc -q https://raw.githubusercontent.com/bamedro/training-bigdata/main/4-spark/meilleures_audiences_depuis_1945.txt

# Importer la base de données "Meilleures_audiences_depuis_1945.txt"
rdd_file = sc.textFile("/content/meilleures_audiences_depuis_1945.txt")
rdd_file.take(5)

['Titanic',
 "Bienvenue chez les Ch'tis",
 'Intouchables',
 'La Grande Vadrouille',
 'Autant en emporte le vent']

# Compter le nombre de mots moyen par titre

**Travail à réaliser**:
1. Créer un RDD dont chaque ligne est la liste des éléments de la ligne correspondante dans `rdd_file` en utilisant les fonctions `flatMap` et `map` du RDD.

2. Compter le nombre de mots par titre

3. Calculer le nombde moyen de mots par titre

In [16]:
# 1. Construction des rdd
lines_rdd = ... # séparation des lignes
words_rdd = ... # séparation des mots

words_rdd.take(5)

[['Titanic'],
 ['Bienvenue', 'chez', 'les', "Ch'tis"],
 ['Intouchables'],
 ['La', 'Grande', 'Vadrouille'],
 ['Autant', 'en', 'emporte', 'le', 'vent']]

In [18]:
# 2. Comptage du nombre mots
nb_words_rdd = ...

nb_words_rdd.take(5)

[1, 4, 1, 3, 5]

In [19]:
# 3. Calcul de la moyenne
moyenne = ...

print("En moyenne, il y a {} mots dans les meilleurs titres de films français depuis 1945".format(round(moyenne, 1)))

En moyenne, il y a 3.9 mots dans les meilleurs titres de films français depuis 1945

# Connaître les mots les plus fréquents dans les titres

**Travail à réaliser**:

1. Passes les chaînes en minuscule et utiliser flatMap pour créer un RDD dont chaque ligne est la liste des éléments de la ligne correspondante dans `rdd_file`

2. Compter le nombre d'occurences de chaque mot (indication: utiliser `map` + `reduceByKey`)

In [20]:
# 1. Construction du RDD
lines_rdd = ... # séparation des lignes
words_rdd = ... # séparation des mots et mettre les chaînes en minuscules

words_rdd.take(5)

['titanic', 'bienvenue', 'chez', 'les', "ch'tis"]

In [ ]:
# 2. Comptage du nombre d'occurences
...
words_count = ...

In [25]:
# Vérification en affichant les 10 premiers mots les plus fréquents
words_count.take(10)

[('le', 50), ('la', 43), ('les', 39), ('de', 36), ('et', 23), ('des', 20), ('-', 15), ('du', 12), ('', 11), ('2', 10)]

On note que les mots les plus fréquents sont des articles et ce ne sont pas vraiment les mots qui nous intéressent...   

## Pour aller plus loin supprimer les stopwords (mots sans valeurs)

**Travail à réaliser**:

1. En utilisant la librairie nltk, construire la liste des stopwords à écarter de notre liste de mots

2. Reconstruire les RDD en filtrant les stopwords

3. Compter les nombres d'occurences de chaque mots

In [26]:
# 1. Importation des stopwords français avec la librairie nltk
# https://www.nltk.org/howto/portuguese_en.html?highlight=stopwords#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

# Mettre la liste des stopwords dans une variable
stop_words = ...

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [27]:
# 2. Filtration des stopwords
lines_rdd = ...  # séparation des lignes
lines_filtered = ...  # filtrer les stopwords
words_rdd = ...  # séparation des mots

words_rdd.take(5)

['titanic', 'bienvenue', 'chez', "ch'tis", 'intouchables']

In [28]:
# 3. Comtpage des mots
...
words_count2 = ...

# Afficher les 10 premiers mots le plus fréquents
words_count2.take(20)

[('-', 15), ('2', 10), (':', 8), ('harry', 8), ('potter', 8), ('3', 7), ('star', 6), ('wars', 6), ('monde', 5), ('�', 5), ('?', 4), ('�pisode', 4), ('ast�rix', 3), ('mission', 3), ('petit', 3), ('a', 3), ('bon', 3), ('roi', 3), ('taxi', 3), ('trois', 3)]